[ng-cloak] {
	display: none;
}

md-list .md-button {
	text-align: left;
	width: 100%;
}s

md-list .md-button.selected {
	color: #03a9f4;
}

.card-media {
	margin-right: 16px;
	border-radius: 50%;
	overflow: hidden; 
}

.user-button-wrap .md-button {
	margin: 8px 4px 8px 0px;
}